* {
    font-family: 'Montserrat', sans-serif;
}


.nav-link {
    position: relative;
}

.nav-link::after {
    content:'';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}


.bg-image{
    background-image: url("img/bg-camera-m.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}


.h1text {
    color: orange;
    padding-bottom: 0px;
}

.homepagetext {
    padding-top: 4%;
}

.imgtext {
    text-align: center;
    color:white;
    font-size: 20px;
    padding-top: 50;
}

.c-item {
    height: 600px;
}

.c-img {
    height: 100%;
    object-fit:cover;
}


.indexabout {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 2px;
text-align: center;
color: black;
}

.aboutme {
    text-align: center;
padding-top: 2px;
padding-bottom: 40px;
background-color: white;
padding-left: 30px;
font-size: 20px;
color: black;
}

.contactus {
    color: orange;
}

.contactus:hover {
    color:orangered;
}

.mright {
    margin-right:40px;
}


.margintop {
    margin-top: 100px;
}


.imgsize {
    height: 700px;
    width: auto;
}

.galleryh2 {
    padding-top: 150px;
    text-align: center;
}

.gallery-item {
    height: auto;
    width: 600px;
}

.gallery {
    padding: 70px 0px;

}

.gallery img {
padding: 15px;
width: 100%;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
cursor: pointer;
}

#gallery-popup .modal-img {
    width: 100% ;
}

.img {
max-width: 100%;
}

.form {
    padding-top: 150px;
}

